@page {
    size: A4;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h2{
  text-transform: uppercase;
  font-size: xx-large;
  text-shadow: 0px 1px 0px black;
}
label{
  color: #000b6b;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
}
textarea{
  resize: none;
  border: none;
  text-align: left;
}
input{
  border: none;
}
.address{
  width: 15%;
}
.full-width{
  width: 100%;
}
p{
  float: right;
  color: #000b6b;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
  text-decoration: underline;
  font-size: large;
  font-weight: bold;
  padding-top: 10%;
}
.vertical {
  border-left: 3px solid #0b0564;
  height: 200px;
  margin: 5px;
}
.period{
  border: 1px solid #0b0564;
  margin: 10px;
  padding: 5px;
}
.flexinput{
  display: flex;
}
.margin{
  margin-left: 50px;
}

section{
  display: flex;
  margin: 20px;
}
.section1{
  width: 40%;
}
table {
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border-color:rgb(0, 85, 255);
  border-style: solid;
  border-width: 1px;
  border-bottom: none
}
td,th {
    color:#000b6b;
    border-color:rgb(0, 85, 255);
    border-width: 1px;
    border-style: solid;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
    overflow: hidden;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.noborder{
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.emptyrow{
    height: 1rem;
}
.center{
    text-align: center;
}
.toleft{
    text-align: left;
}
.toright{
  text-align: right;
}
.nobordredcell{
    border-bottom: none;
    border-top: none
}
.noborderleft{
    border-left: none;
}
.noborderleftbottom{
  border-left: none;
  border-bottom: none;
}
.nobordertop{
    border-top: none;
}
.noborderright{
    border-right: none;
}
.noborderbottomright{
    border-bottom: none;
    border-right: none;
}
.noborderbottomtop{
    border-bottom: none;
    border-top: none;
}
.borderwidth{
  border-width: 2px;
}
.redcolor{
  color: rgb(200, 2, 2);
  font-style: italic;
}
.italique{
  font-style: italic;
}
.noborderbottom{
  border-bottom: 0px;
}
.underlined{
  text-decoration : underline
}
.title{
  width: 30%;
  border-style: solid;
  border-color: #000b6b;
  border-top: none;
  text-align: center;
  margin: auto;
  color:#000b6b;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
}
.nb_input{
  width: 30px;
}
