<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<page size="A4">
<body>
    <div>
        <div class="title">
            <h1>BULLETIN DE PAIE</h1>
        </div>
        <section>
            <div class="section1">
                <form>
                    <div>
                        <label>Identifiant Unique:</label>
                        <input type="text" value="{{company_matricule}}" readonly>
                    </div>
                    <div>
                        <label>N° Affiliation:</label>
                        <input type="text" readonly>
                    </div>
                    <div>
                        <label>Adresse:</label>
                        <input class="full-width" type="text" readonly value="{{company_address}}">
                    </div>
                    <div>
                        <label>Code Postal:</label>
                        <input type="text" value="{{company_zip_code}}" readonly>
                    </div>
                </form>
            </div>
            <div class= "vertical"></div>
            <div>
                <div class="period">
                    <label>Période de Paie </label>
                    <input type="text" value="{{period}}" readonly>
                </div>
                <form>
                    <div>
                        <label>Nom et prénom:</label>
                        <input type="text" value="{{employee_name}}" readonly>
                    </div>
                    <div>
                        <label>Matricule salarié:</label>
                        <input type="text" value="{{matricule}}" readonly>
                    </div>
                    <div>
                        <label>{{id_type}}:</label>
                        <input type="text" value="{{id_number}}" readonly>
                    </div>
                    <div>
                        <label>Emploi:</label>
                        <input class="full-width" type="text" readonly value="{{job}}">
                    </div>
                        <div>
                            <label>Relation de travail:</label>
                            <input type="text" value="{{contract_name}}" readonly>
                        </div>
                    <div class="flexinput">
                        <div>
                            <label>Parents à charge:</label>
                            <input class="nb_input" type="number" value="{{parents}}" readonly>
                        </div>
                        <div>
                            <label>Chef de Famille:</label>
                            <input class="nb_input" type="text" value="{{house_holder}}" readonly>
                        </div>
                        <div>
                            <label>Enfants à charge:</label>
                            <input class="nb_input" type="number" value="{{children}}" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div style="margin: 10px;">
        <div>
            <table>
                <tr>
                    <th class="bold" colspan="4">Désignation</th>
                    <th class="bold">Nombre</th>
                    <th class="bold">Base</th>
                    <th class="bold">Taux</th>
                    <th class="bold">Gain</th>
                    <th class="bold">Retenue</th>
                </tr>
                <tr>
                    <td class="bold" colspan="2">Salaire de base</td>
                    <td class="bold">{{working_type}}</td>
                    <td class="bold">{{base_time_count}}</td>
                    <td class="nobordredcell">{{worked_time}}</td>
                    <td class="nobordredcell">{{base_cost}}</td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell">{{base_salary}}</td>
                    <td class="nobordredcell"></td>
                </tr>
                {% for prime in primes_fixes %}
                <tr>
                    <td class="toleft noborderbottomtop" colspan="4">{{prime.name}}</td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell">{{prime.base_amount}}</td>
                    <td class="nobordredcell">{{taux_primes_fixes}}%</td>
                    <td class="nobordredcell">{{prime.amount}}</td>
                    <td class="nobordredcell"></td>
                </tr>
                {% endfor %}
                {% for supp_hour in heures_supplementaires %}
                <tr>
                    <td class="toleft noborderbottomtop" colspan="4">{{supp_hour.name}}</td>
                    <td class="nobordredcell">{{supp_hour.number_of_hours}}</td>
                    <td class="nobordredcell">{{supp_hour.base_amount}}</td>
                    <td class="nobordredcell">{{supp_hour.taux}}%</td>
                    <td class="nobordredcell">{{supp_hour.gain}}</td>
                    <td class="nobordredcell"></td>
                </tr>
                {% endfor %}
                {% for prime in primes_variables %}
                <tr>
                    <td class="toleft noborderbottomtop" colspan="4">{{prime.name}}</td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell">{{prime.amount}}</td>
                    <td class="nobordredcell">100%</td>
                    <td class="nobordredcell">{{prime.amount}}</td>
                    <td class="nobordredcell"></td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                    <td class="bold grey noborderright borderwidth italique" colspan="5">Salaire Brut</td>
                    <td class="bold grey noborderleft borderwidth">{{salaire_brut}}</td>
                    <td class="noborder"> </td>
                </tr>

                <tr>
                    <td class="noborder nobordertop" colspan="4"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                </tr>
                <tr>
                    <td class="noborder nobordertop" colspan="4"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                </tr>

                <tr class="grey bold">
                    <td colspan="5" class="borderwidth">Salaire Brut cotisable</td>
                    <td class="borderwidth noborderleft">{{salaire_brut_cotisable}}</td>
                    <td class="borderwidth noborderleft noborderright">{{cnss_rate}}%</td>
                    <td class="redcolor borderwidth">Retenue CNSS</td>
                    <td class="borderwidth">{{retenue_cnss}}</td>
                </tr>
                {% for prime in primes_non_cotisable %}
                <tr>
                    <td colspan="5" class="noborderleft toright italique">{{prime.name}}</td>
                    <td>{{prime.amount}}</td>
                    <td colspan="3" class="noborderbottomtop noborderleft noborderright"></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="toright bold noborderright borderwidth toright italique"> Montants Non cotisable</td>
                    <td class="noborderleft borderwidth bold">{{montants_non_cotisable}}</td>
                    <td colspan="3" class="noborderbottomtop noborderleft noborderright"></td>
                </tr>
                <tr>
                    <td class="noborder nobordertop" colspan="4"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                </tr>
                <tr>
                    <td class="noborder nobordertop" colspan="4"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                </tr>


                <tr class="grey bold">
                    <td colspan="5" class="borderwidth italique">Salaire Brut imposable</td>
                    <td class="borderwidth noborderleft ">{{salaire_brut_imposable}}</td>
                    <td class="borderwidth noborderleft noborderright"></td>
                    <td class="redcolor borderwidth">IRPP</td>
                    <td class="borderwidth">{{irpp}}</td>
                </tr>
                {% for prime in primes_non_imposable %}
                <tr>
                    <td colspan="5" class="noborderleft emptyrow toright italique">{{prime.name}}</td>
                    <td>{{prime.amount}}</td>
                    <td colspan="3" class="noborderbottomtop noborderleft noborderright"></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="toright bold noborderright borderwidth toright italique"> Montants Non imposable</td>
                    <td class="noborderleft borderwidth bold">{{montants_non_imposable}}</td>
                    <td colspan="3" class="noborderbottomtop noborderleft noborderright"></td>
                </tr>
                <tr>
                    <td class="noborder nobordertop" colspan="4"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                </tr>
                <tr class="bold">
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="borderwidth noborderright nobordertop grey"></td>
                    <td class="borderwidth noborderleft noborderright nobordertop toright grey italique">CUMULS</td>
                    <td class="borderwidth noborderleft noborderright nobordertop grey"></td>
                    <td class="borderwidth noborderleft noborderright nobordertop grey"></td>
                    <td class="borderwidth noborderleft nobordertop grey"></td>
                </tr>
                <tr>
                    <td class="noborderbottom toright bold" colspan="4">Brut</td>
                    <td class="noborderbottom"></td>
                    <td class="noborderbottom"></td>
                    <td class="noborderbottom"></td>
                    <td class="noborderbottom bold">{{salaire_brut}}</td>
                    <td class="noborderbottom"></td>
                </tr>
                <tr>
                    <td class="noborderbottomtop toright bold" colspan="4">CNSS</td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell bold">{{retenue_cnss}}</td>
                </tr>
                <tr>
                    <td class="toleft noborderbottomtop toright bold" colspan="4">IRPP</td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell bold">{{irpp}}</td>
                </tr>
                <tr>
                    <td class="toleft noborderbottomtop toright bold" colspan="4">AVANCES</td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell bold">{{avances}}</td>
                </tr>
                <tr>
                    <td class="toleft noborderbottomtop toright bold" colspan="4">PRÊT</td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell bold">{{credit}}</td>
                </tr>
                {% for retenue in retenues %}
                <tr>
                    <td class="bold toleft noborderbottomtop toright" colspan="4">{{retenue.name}}</td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="noborderbottomtop"></td>
                    <td class="nobordredcell bold">{{retenue.amount}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="toleft noborderbottomtop toright" colspan="4"><span class="bold">CONTRIBUTION-</span><span class="italique" >Art.53-loi 66 du 18-12-2017</span></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="noborderbottomtop"></td>
                    <td class="nobordredcell bold">{{contribution_1}}</td>
                </tr>
                <tr>
                    <td class="toleft noborderbottomtop toright" colspan="4"><span class="bold">CONTRIBUTION-</span><span class="italique">écret-loi n° 2020-5 du 14 avril 2020</span></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="nobordredcell"></td>
                    <td class="noborderbottomtop"></td>
                    <td class="nobordredcell"></td>
                </tr>
                <tr class="emptyrow">
                    <td class="nobordertop toright" colspan="4"></td>
                    <td class="nobordertop"></td>
                    <td class="nobordertop"></td>
                    <td class="nobordertop"></td>
                    <td class="nobordertop">-</td>
                    <td class="nobordertop"></td>
                </tr>
                <tr>
                    <td class="borderwidth bold toright italique" colspan="4">Total</td>
                    <td class="noborderright noborderleft borderwidth"></td>
                    <td class="noborderright noborderleft borderwidth" ></td>
                    <td class=" noborderleft borderwidth"></td>
                    <td class= "borderwidth noborderleft bold">{{salaire_brut}}</td>
                    <td class="borderwidth noborderleft bold">{{total_retenue}}</td>
                </tr>
                <tr>
                    <td class="noborder nobordertop" colspan="4"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                </tr>
                <tr>
                    <td class="noborderright borderwidth bold toright" colspan="3">NET IMPOSABLE :</td>
                    <td class="noborderleft borderwidth bold">{{salaire_brut_imposable}}</td>
                    <td class="noborderright noborderleft noborderbottomtop borderwidth"></td>
                    <td  class="noborderright borderwidth grey bold"> NET A PAYER :</td>
                    <td class="noborderleft noborderright borderwidth grey" colspan="1" class="toright"></td>
                    <td class="noborderleft noborderright borderwidth grey bold">{{net_a_payer}} TND</td>
                    <td class="noborderleft borderwidth grey"> </td>
                </tr>
                <tr>
                    <td class="noborder nobordertop toright bold underlined" colspan="3">Cachet & Signature</td>
                    <td class="noborder nobordertop"></td>
                    <td class="noborder nobordertop"></td>
                    <td  class="noborder nobordertop"></td>
                    <td class="noborder nobordertop" colspan="2"></td>
                    <td class="noborder nobordertop bold underlined">Bénéficiaire</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</page>
</html>
